org.dnd/*
org.dnd.ide/*
org.dnd.tests/*
org.dnd.ui/*
org.dnd.ui.tests/*
!org.dnd/src
org.dnd/src/*
!org.dnd/src/org
org.dnd/src/org/*
!org.dnd/src/org/dnd
org.dnd/src/org/dnd/*
!org.dnd/src/org/dnd/POGL.xtext
