org.dnd/*
org.dnd.ide/*
org.dnd.tests/*
!org.dnd.tests/src
org.dnd.tests/src/*
!org.dnd.tests/src/org
org.dnd.ui/*
org.dnd.ui.tests/*
!org.dnd/src
org.dnd/src/*
!org.dnd/src/org
org.dnd/src/org/*
!org.dnd/src/org/dnd
org.dnd/src/org/dnd/*
!org.dnd/src/org/dnd/validation
!org.dnd/src/org/dnd/generator
!org.dnd/META-INF

!org.dnd/src/org/dnd/POGL.xtext
libs/*
.metadata/

.DS_Store
